html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL
----------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

input,
button {
  border: none;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input:focus,
  button:focus {
    outline: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul {
  list-style: none; }

/* HEADER
---------- */
header {
  width: 100%;
  background-color: #225378;
  overflow: hidden; }
  header .innerHeader {
    width: 80%;
    margin: auto; }
  header .logo {
    float: left;
    color: #F3FFE2;
    margin: 0;
    overflow: hidden;
    padding: 1em; }
  header p {
    margin: 0;
    font-family: Electrolize;
    font-size: 150pt;
    z-index: 1; }
  header span {
    font-family: Fontdiner Swanky;
    font-size: 55pt; }
  header .fa {
    color: #EB6015;
    z-index: 2;
    display: inline;
    margin-top: -185px;
    margin-left: 55px;
    position: absolute;
    font-size: 30pt; }

.social {
  overflow: hidden;
  float: right;
  color: white;
  font-size: 2em;
  padding: 1em; }

p#logout,
p#homeButton {
  font-size: 12pt;
  color: white;
  margin-left: 0;
  float: left; }

/* SINGLE PAGE VIEW
------------------- */
.container {
  overflow: hidden;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  .container aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    background-color: #F3FFE2;
    height: 100vh; }
    .container aside:last-child {
      margin-right: 0; }
    .container aside .innerAside {
      width: 90%;
      margin: auto;
      text-align: center; }
      .container aside .innerAside h4 {
        margin-top: 1em; }
    .container aside .asideTop {
      margin-top: 2em;
      border-bottom: 1px solid #225378; }
      .container aside .asideTop .avatar {
        margin: 2em; }
        .container aside .asideTop .avatar img {
          border-radius: 50%; }
    .container aside ul {
      margin: 0;
      margin-top: 1em; }
  .container .singleMain {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    text-align: center;
    margin-top: 2em; }
    .container .singleMain:last-child {
      margin-right: 0; }
