html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

/* DECLARATIONS
---------------- */
/* MIXINS
---------- */
/* GLOBAL
----------- */
* {
  box-sizing: border-box; }

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #FAFAFA; }

input,
button {
  border: none;
  border: 1px solid #ccc;
  border-radius: 3px; }
  input:focus,
  button:focus {
    outline: none; }

button {
  background-color: #225378; }
  button:hover {
    background-color: #FF8236; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul {
  list-style: none; }

/* HEADER
---------- */
header {
  width: 100%;
  background-color: #225378;
  overflow: hidden; }
  header .innerHeader {
    overflow: hidden;
    width: 80%;
    margin: auto; }
    header .innerHeader .logo {
      float: left;
      color: #F3FFE2;
      margin: 0;
      overflow: hidden;
      padding: 1em;
      display: inline-block;
      padding: 0; }
      header .innerHeader .logo .q {
        overflow: hidden;
        display: inline-block;
        position: relative;
        padding: 0; }
        header .innerHeader .logo .q p {
          margin: 0;
          font-family: Electrolize;
          font-size: 10em;
          padding: 0; }
      header .innerHeader .logo .pic {
        overflow: hidden;
        display: inline-block;
        padding: 0; }
        header .innerHeader .logo .pic p {
          font-family: Fontdiner Swanky;
          font-size: 4em;
          padding: 0; }
    header .innerHeader .fa-camera {
      color: #FF8236;
      display: inline;
      position: absolute;
      font-size: 2.8em;
      top: 60px;
      left: 23px; }
  header .social {
    overflow: hidden;
    display: inline-block;
    float: right;
    font-size: 2em;
    padding: 1em; }
    header .social i {
      color: #F3FFE2;
      opacity: .8;
      cursor: pointer; }
      header .social i:hover {
        opacity: 1; }
  header nav {
    display: inline-block;
    color: #F3FFE2;
    opacity: .8;
    float: right;
    padding-top: 2em; }
    header nav ul {
      cursor: pointer; }
      header nav ul li {
        display: inline;
        padding: .6em; }
        header nav ul li:hover {
          opacity: 1; }

/* MAIN PAGE VIEW
------------------ */
.mainImages {
  float: right;
  width: 100%; }
  .mainImages h2 {
    display: inline-block;
    float: left; }
  .mainImages .newpostBtn {
    display: inline-block;
    float: right;
    border: 1px solid #225378;
    padding: 1em;
    margin: 1em;
    color: #225378; }
    .mainImages .newpostBtn:hover {
      background-color: #FF8236;
      color: white;
      border: none; }
    .mainImages .newpostBtn p {
      display: inline-block;
      float: right;
      margin: 0; }
    .mainImages .newpostBtn i {
      font-size: 2em;
      display: inline-block;
      float: left;
      padding-right: .5em;
      padding-top: .1em; }
  .mainImages .imageWrap {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 4px; }
    .mainImages .imageWrap .actualImage {
      overflow: hidden; }
      .mainImages .imageWrap .actualImage p {
        display: block; }

/* SINGLE PAGE VIEW
------------------- */
.container {
  overflow: hidden; }
  .container .singleWrap {
    overflow: hidden; }
  .container .singleMain {
    background-color: white;
    margin: auto;
    text-align: center;
    margin-top: 5em;
    width: 80%;
    border: 1px solid #EDEEEE;
    margin-bottom: 5em;
    position: relative; }
    .container .singleMain .fa-camera {
      position: absolute;
      top: 1.5em;
      left: 1em;
      font-size: 1.5em; }
    .container .singleMain p {
      float: left;
      padding: 1em;
      margin: 0;
      padding-left: 2.5em; }
      .container .singleMain p span {
        color: #1695A3;
        font-weight: bold;
        font-size: 1em; }
    .container .singleMain .image img {
      width: 100%; }
    .container .singleMain .guess {
      width: 90%;
      margin: auto;
      margin-bottom: 2em; }

aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  background-color: #F3FFE2;
  height: 100vh;
  overflow: hidden;
  clear: both; }
  aside:last-child {
    margin-right: 0; }
  aside .innerAside {
    width: 90%;
    margin: auto;
    text-align: center; }
    aside .innerAside h4 {
      margin-top: 1em; }
  aside .asideTop {
    margin-top: 2em;
    border-bottom: 1px solid #225378; }
    aside .asideTop .avatar {
      margin: 2em; }
      aside .asideTop .avatar img {
        border-radius: 50%; }
  aside ul {
    margin: 0;
    margin-top: 1em; }

/* NEW POST VIEW
----------------- */
.newpost {
  width: 100%; }
  .newpost .newpostMain {
    width: 80%;
    margin: auto; }
    .newpost .newpostMain input {
      width: 60%; }
