@media screen and (max-width: 800px) {
  body {

  }
  .mainImages {
    ul {
      width: 100%;
      li {
        width: 67%;
        display: block;
        margin: auto;
      }
    }

    .imageWrap {
      margin: 0;
    }
  }
}
