@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";

/* DECLARATIONS
---------------- */

$dark: #10222B;
$darkgreen: #95AB63;
$lightgreen: #BDD684;
$gray: #E2F0D6;
$offwhite: #F6FFE0;




/* MIXINS
---------- */



/* GLOBAL STYLES
---------------- */
