@import "../css/vendor/bourbon/bourbon";
@import "../css/vendor/neat/neat";
/* DECLARATIONS
---------------- */

$darkblue: #225378;
$teal: #1695A3;
$lightblue: #ACF0F2;
$orange: #FF8236;
$light: #F3FFE2;
$philosopher: 'Philosopher', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;
/* MIXINS
---------- */

@mixin border() {
    border: 1px solid #ccc;
    border-radius: 3px;
}
/* GLOBAL
----------- */

* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: $roboto;
}

input,
button {
    border: none;
    @include border();
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

ul {
    list-style: none;
}
/* HEADER
---------- */

header {
    width: 100%;
    background-color: $darkblue;
    overflow: hidden;

    .innerHeader {
      overflow: hidden;
      width: 80%;
      margin: auto;

      .logo {
          float: left;
          color: $light;
          margin: 0;
          overflow: hidden;
          padding: 1em;
          display: inline-block;
          padding: 0;

        .q {
          overflow: hidden;
          display: inline-block;
          position: relative;
          padding: 0;

          p {
              margin: 0;
              // font-family: Michroma;
              // font-family: Aldrich;
              font-family: Electrolize;
              font-size: 10em;
              padding: 0;
          }
        }

        .pic {
          overflow: hidden;
          display: inline-block;
          padding: 0;

          p {
            font-family: Fontdiner Swanky;
            font-size: 4em;
            padding: 0;
          }
        }

      }

      .fa-camera {
          color: $orange;
          display: inline;
          position: absolute;
          font-size: 2.8em;
          top: 60px;
          left: 23px;
      }
  }

  .social {
      overflow: hidden;
      display: inline-block;
      float: right;
      font-size: 2em;
      padding: 1em;

      i {
        color: $light;
        opacity: .8;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
  }

  nav {
    display: inline-block;
    color: $light;
    opacity: .8;
    float: right;
    padding-top: 2em;

    ul {
      cursor: pointer;

      li {
        display: inline;
        padding: .6em;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

}


/* MAIN PAGE VIEW
------------------ */

.mainImages {
    float: right;
    width: 70%;

    .imageWrap {
      position: relative;
      width: 250px;
      height: 250px;
      overflow: hidden;
      background-color: black;
      border-radius: 4px;

        img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          -webkit-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
    }
}

/* SINGLE PAGE VIEW
------------------- */

.container {
    overflow: hidden;
    @include outer-container(100%);
    aside {
        @include span-columns(3);
        background-color: $light;
        height: 100vh;
        .innerAside {
            width: 90%;
            margin: auto;
            text-align: center;
            h4 {
                margin-top: 1em;
            }
        }
        .asideTop {
            margin-top: 2em;
            border-bottom: 1px solid $darkblue;
            .avatar {
                margin: 2em;
                img {
                    border-radius: 50%;
                }
            }
        }
        ul {
            margin: 0;
            margin-top: 1em;
            li {}
        }
    }
    .singleMain {
        @include span-columns(9);
        text-align: center;
        margin-top: 2em;
    }
}

