<div class="leaderboardSection">
          <h4>Leaderboard</h4>
          <ul id="leaderboard" class="leaderboard">
          {{#each user}}
            <li>{{username}}: {{points}}</li>

          {{/each}}
          </ul>
        </div>
