
<div class="leaderboardSection">
          <h4 class="leaderboardh4">Leaderboard</h4>
          <ul id="leaderboard" class="leaderboard">
          {{#each user}}
            <li>{{username}}: <span class="leaderboardScorePoints">{{points}}</span> | {{win_percent}}% correct</li>

          {{/each}}
          </ul>
        </div>

<div class="deleteDiv">
  <button id="#deleteUser">Delete Account</button>
</div>
