


<div class="loginBox">

<h2>Login</h2>

<div class="formDiv">
<form id="loginForm" class="loginForm">
  <input type="text" id="loginusername" placeholder=" username">
  <input type="text" id="loginpassword" placeholder=" password">
  <button id="loginButton">Login</button>
</form>
</div>

<div class="registerDiv">
<form id="registerForm" class="registerForm">
  <input type="text" id="email" placeholder=" email">
  <input type="text" id="regusername" placeholder=" username">
  <input type="text" id="regpassword" placeholder=" password">
  <button id="registerButton">Register</button>

</form>

</div>
</div>
