<div class="mainImages">
  <h2>LET'S PLAY!</h2>
  <a href="/#newpost"><div class="newpostBtn">
    <i class="fa fa-camera"></i>
    <p>Add a new post</p>
  </div></a>

  <ul class="small-block-grid-3">
  {{#each image}}
  <li data-id="{{id}}">
    <div class="imageWrap">
      <a href="#/single/{{id}}"><img src="{{ image_url }}"></a>

  </li>
  {{/each}}
  </ul>
</div>

