
<div class="mainImages">
  <h2>LET'S PLAY!</h2>
  <ul class="small-block-grid-3">
  {{#each image}}
  <li data-id="{{_id}}">


</li>

{{/each}}
</ul>

<div class="deleteDiv">
  <button id="#deleteButton">Delete Account</button>
</div>

