<form id="postImage" class="postImage">
  <input type="text" placeholder="image url" id="image_url">
  <input type="text" placeholder="answer" id="answer">
  <button id="submitPost">Add Post</button>
</form>
