<div class="newpostMain">

  <h2>Add a post. And don't make it easy!</h2>


    <form id="postImage" class="postImage">
      <input type="text" placeholder="Image URL" id="image_url">
      <input type="text" placeholder="Answer" id="answer">
      <input type="text" placeholder="Add a hint here" id="hint">
      <button id="submitPost">Add post</button>
      {{!-- <button id="deletePost">Delete Post</button> --}}
    </form>
    <button id="home">Go home</button>

  <div class="preview" id="preview"></div>



</div>
